node_modules
.env
logs/
*.log
.DS_Store

# Testing
.env.test
coverage/

uploads/*
!uploads/.gitkeep
!uploads/documents/
!uploads/documents/.gitkeep
!uploads/proofs/
!uploads/proofs/.gitkeep
!uploads/licenses/
!uploads/licenses/.gitkeep

.env.production